modules = ["python-3.10:v18-20230807-322e88b"]
run = "print(longest_run([2,12,12,8,12,12,12,0,12,1], 12))"

[nix]
channel = "stable-23_05"

[env]
VIRTUAL_ENV = "$REPL_HOME/.pythonlibs"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "print(longest_run([2,12,12,8,12,12,12,0,12,1], 12))"]
deploymentTarget = "cloudrun"
